/* ----------------------------------
 * Confirm tablet
 * ---------------------------------- */
 
 /* Main dialog setup */
form[role="dialog"][data-type="confirm"] {
  display: absolute;
}

form[role="dialog"][data-type="confirm"] > section {
  font-weight: lighter;
  font-size: 2.2rem;
  color: #FAFAFA;
  padding: 0 1.5rem;
  -moz-box-sizing: padding-box;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
}